[submodule "godot-cpp-4.0"]
	path = cpp/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.0
[submodule "cpp/godot"]
	path = cpp/godot
	url = https://github.com/godotengine/godot.git
	branch = 4.0
